#match-row-one, h3 {
  margin-bottom: 0px;
  #label-red-team {
    color: red;
  }

  #label-blue-team {
    color: blue;
  }

  #label-map {
    color: white;
  }
}

#team-one {
  background-color: #FFF;
}

#team-two {
  background-color: #FFF;
}

.box {
  box-sizing: border-box;
  height: 125px;
  width: 125px;
  background-size: 100%;
}