$white-color: #EFFFE9;
$black-color: #011627;
$red-color: #E71D36;
$green-color: #2EC4B6;

$google-font-racing: 'Racing Sans One', serif;
$google-font-lobster: 'Lobster', serif;

// NAV BAR STYLES

span#brand-logo.lane-header-race {
  font-family: $google-font-racing;
  margin-left: 2%;
  font-size: 2em;
  color: $white-color;
  &:hover {
    color: $black-color;
  }
}

#summoner-name-nav {
  padding-right: 20px;
  color: $white-color;
}

#recent-games-tab {
  background-color: $red-color;
  a {
  color: $white-color;
  font-size: 1.2em;
  padding-right: 20px;
  padding-left: 20px;

    &:hover{
      color: #FFF;
    }
  }
}

nav ul {
  height: 100%;
}

.match-tab {
  text-decoration: none;
}

// TOP CONTAINER

#match-row-one {
  background-color: $white-color;
  margin-bottom: 20px;
}

#match-row-one,

h4 {
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: $black-color;
  font-weight: bold;

  #label-red-team {
    // color: red;
  }

  #label-blue-team {
    // color: blue;
  }

  #label-map {
    // color: $white-color;
  }
}


// Player Stats

.box {
  box-sizing: border-box;
  height: 125px;
  width: 125px;
  background-size: 100%;
}

.player-stats {
  margin-bottom: 0px;

}

// div.row.player-stats.ng-scope:hover {
//   border: 1px solid $white-color;
//   cursor: pointer;
// }

.player-stat-container {
  background-color: $black-color;
  color: $white-color;
  font-size: 0.8em;
}

img.riot-icon {
    border: 0;
    top: 18px;
}
.riot-icon {
  position: relative;
}

// TOOL TIPS

.player-score:hover .stats-tooltip {
    display: block;
    color: $black-color;
    background-color: $white-color;
}


.stats-tooltip {
    display: none;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    background: $white-color;
    color: $black-color;
}

img.picture {
  border-radius: 50%;
}

// Small screen
@media screen and (min-width: 1px) and (max-width:479px) {
  img.picture {
    border-radius: 50%;
    height: 10vh;
    width: 15vw;
  }
}