.teams {
  margin-bottom : 20px;

  ul {
    display : inline;
    li {
      img {
        opacity: 1;
        margin-top : 35px;
        display : inline;
        height : 75px;
        width : 75px;
      }
    }
  }
}

#label-red-team {
  color: red;
}

#label-blue-team {
  color: blue;
}