$google-font-lobster: 'Lobster', serif;
$google-font-racing: 'Racing Sans One', serif;

div.match-container {
  border: 2px solid $green-color;
  margin-top : 20px;
  background-color: $white-color;

  &:hover {
    border: 2px solid $red-color;

    .game-info {
      background-color: $red-color;
    }
  }
}

#vs {
  height :50px;
  width :50px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.game-info {
  background-color: $green-color;
  box-sizing: border-box;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: bold;
  font-family: $google-font-racing;
  padding-left: 15px;
}

.teams {
  margin-top: 15px;
}

#recent-game-team-one {
  margin-left: 15px;
}

#recent-game-team-two {
  margin-left: 20px;
}

.recent-match-picture {
  display: inline;
  width: 70px;
  height: 70px;
  margin-right: 7px;
}