// Variables
$white-color: #EFFFE9;
$black-color: #011627;
$red-color: #E71D36;
$green-color: #2EC4B6;

// ---------------- SCRUBBER STYLES
@import 'map-scrubber';
// ---------------- MATCH DETAILS
@import 'match-details';
// ---------------- RECENT MATCH DETAILS
@import 'recent-match';

.container {
    min-width: 950px;
}
body {
  background-color: $black-color;
}

h1 {
  font-family: 'Open Sans', serif;
}

p#footer-disc.center-align {
  font-size: .55em;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

.header {
  display: table;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('/views/images/sona-background.jpg') no-repeat center;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 0px;
}

input#summonerNameInput {
  position : relative;
  top: 55vh;
  left: 30vw;
  width: 270px;
  font-size: 1.5em;
  font-family: 'Freemont';
  color: $white-color;
  border-bottom: none;
  &:focus {
    border: none;
  }
}

.btn-login {
  top: 55vh;
  left: 25vw;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

$box-shadow : 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

$red : #df3b20;
$blue : #42C0FB;


.portrait {
  margin-bottom: 5%;
}

// ------------- RECENT MATCH

#recent-games-tab {
  background-color: $red-color;

  a {
  font-size: 1.2em;

    &:hover{
    color:#FFF;
    }
  }
}

.match-tab {
  text-decoration: none;
}

li {
  display: inline;
}

#tabs {
  display: block;
  margin: auto;
  padding: auto;
  width: 100%;

  .matchTabs {
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin: auto;
    width: 628px;
    border: 2px solid black;
    background-color: black;
    background-size: 100px;
    color: #EFD5A2;
    font-weight: bold;
    font-family: 'Freemont';
    // text-shadow: 0px 0px 4px #BF7A3F;
    font-size: 20px;

    &:hover {
      border: 2px solid orange;
      border: 2px solid gold;
      box-shadow: none;
    }

    a {
      text-decoration: none;
    }
  }
}




// ---------------- Header and Footer DETAILS
footer.page-footer, .nav-wrapper {
  margin-top: 0px;
  padding-top: 0px;
  background-color: $green-color;
}

// Med screen
@media screen and (min-width: 480px) and (max-width:992px) {
    body {
        background-color:$black-color;;
    }
}

// Large screen
@media screen and (min-width:993px) {
    body {
        background-color:$black-color;;
    }
}