// Variables
$white-color: #EFFFE9;
$black-color: #011627;
$red-color: #E71D36;
$green-color: #2EC4B6;

// ---------------- LANDING PAGE STYLES
@import 'landing-page';
// ---------------- SCRUBBER STYLES
@import 'map-scrubber';
// ---------------- MATCH DETAILS
@import 'match-details';
// ---------------- RECENT MATCH DETAILS
@import 'recent-match';

.container {
    min-width: 950px;
}
body {
  background-color: $black-color;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
}

h1 {
  font-family: 'Open Sans', serif;
}

p#footer-disc.center-align {
  font-size: .55em;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

$box-shadow : 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

$red : #df3b20;
$blue : #42C0FB;


.portrait {
  margin-bottom: 5%;
}

// ------------- RECENT MATCH

li {
  display: inline;
}

#map-svg-img-canvas {
  margin-left: auto;
}


// ---------------- Header and Footer DETAILS
footer.page-footer, .nav-wrapper {
  margin-top: 0px;
  padding-top: 0px;
  background-color: $green-color;
}

// Small screen
@media screen and (min-width: 1px) and (max-width:479px) {
    .portrait {
      display: inline-block;
      margin-right: 2%;
    }

    .box {
      height: 50px;
      width: 50px;
    }
}

// Medium screen
@media screen and (min-width: 480px) and (max-width:992px) {
    body {
        background-color:$black-color;;
    }
    .portrait {
      display: inline-block;
      margin-right: 2%;
    }
    .box {
      height: 75px;
      width: 75px;
    }
}

// Large screen
@media screen and (min-width:993px) {
    body {
        background-color:$black-color;;
    }
}