$box-shadow : 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

$red : #df3b20;
$blue : #42C0FB;

body {
  background-color: #021D24;
}

.box {
  box-sizing: border-box;
  height : 125px;
  // width : 125px;
  // border: 1px solid black;
  // margin-bottom: 25px;
  background-size: 100%;

}

.portrait {
  margin-bottom: 25px;
}

.match-tab {
  text-decoration: none;
  box-shadow: 0 1px 0 #ccc,
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa;
}

li {
  display: inline;
}

#tabs {
  display: block;
  margin: auto;
  padding: auto;
  width: 100%;

  .matchTabs {
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin: auto;
    width: 628px;
    border: 4px solid black;
    background-color: black;
    background-size: 100px;
    color: gold;
    font-weight: bold;
    box-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa;

    &:hover {
      // color: red;
      border: 4px solid gold;
      box-shadow: none;
    }

    a {
      text-decoration: none;
    }
  }
}


.container {
    min-width: 950px;
}

#map-d {
    box-sizing: border-box;
}

.game-info {
  box-sizing: border-box;
  display: block;
  border: 1px solid black;
  font-weight: bold;
  line-height: 140%;
  margin: 7px;
  background-image: url('https://s3-us-west-1.amazonaws.com/riot-api/img/rune-bg.png');
  box-shadow: $box-shadow;

  &:hover {
    border: 2px solid orange;
    color: red;
    box-shadow: none;
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 16px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



//tooltip sizes and hard coded boarders per player
.tooltip{
  height: 40px;
  width: 40px;
}

.player0{
  border: 4px solid #ffffff;
}

.player1{
  border: 4px solid #ffbc44;
}

.player2{
  border: 4px solid #ff3300;
}

.player3{
  border: 4px solid #800000;
}

.player4{
  border: 4px solid #ffb5b4;
}

.player5{
  border: 4px solid #ff45a2;
}

.player6{
  border: 4px solid #000066;
}

.player7{
  border: 4px solid #00cc99;
}

.player8{
  border: 4px solid #006666;
}

.player9{
  border: 4px solid #66ccff;
}

.player10{
  border: 4px solid #6666ff;
}

.assistor{
  height: 20px;
  width: 20px;
}

.logo {
  background-image: url('/views/images/LaneLogo.png');
  background-repeat: none;
  width: 250px;
  height: 100px;
  margin: auto;
}