<div class="row header">

  <form class="form" name="summonerForm" ng-disabled="summonerName.$invalid" ng-submit="getSummonerInfo(summonerName)">

      <h1 class='logo'></h1>


        <input
        id="summonerNameInput"
        required
        type="text"
        placeholder="summoner name"
        ng-model="summonerName"
        ng-minlength="2">
        <!-- <p class="error" ng-show="summonerForm.$dirty && summonerForm.summonerName.$invalid">Required</p> -->
        <p class="error" ng-show="summonerForm.summonerName.$pristine">Required</p>
        <p class="error" ng-show="summonerForm.summonerName.$error.minlength">Not less than 2 characters</p>



      <a class="grey-text text-lighten-3" ng-show="summonerForm.$valid" ng-click="getSummonerInfo(summonerName)" id="loginButton">Search</a>

  </form>

</div>
