<div class="container">

  <form>

  <div class="sixteen columns">

    <div class="four columns offset-by-four">
      <h1>Home Page</h1>
    </div>

    <div class="four columns offset-by-four">
        <label for="summonerNameInput">Summoner name</label>
        <input class="u-full-width" type="text" placeholder="summoner name" id="summonerNameInput" ng-model="summonerName">
    </div>
  </div>

  <div class="four columns offset-by-four">
    <div class="eight columns offset-by-two">
      <a class="button u-full-width" ng-click="getSummonerInfo(summonerName)">Search</a>
    </div>
  </div>

  </form>

</div>