
<div class="container">
  <div class="row">
    <h1>Statistics Page</h1>
  </div>

  <div class="row">
    <div class="six columns">
<!--       <label for="summonerNameLabel">Summoner name: {{ summonerName }}</label> -->
    </div>
  </div>

  <div class="row">
<!--     <div id="tabs">
<a ui-sref="match.recentMatch({summoner_id : summoner.id})" class="match-tab"  ng-if="disableTab.current.name == 'match.matchDetails'"><li class="matchTabs">List of Recent Matches</li></a>
    </div> -->
    <div ui-view></div>

  </div>

</div>

<script src="http://d3js.org/d3.v3.min.js"></script>

<script src="js/mapLocation.js"></script>