<div class="row" id="match-row-one">
  <div class="col l3 center-align">
    <h4 id="label-red-team">Red Team
      <span ng-if="mostRecentMatch.teams[0].winner">( Won )</span>
    </h4>
  </div>
  <div class="col l6 center-align">
    <h4 id="label-map">{{mostRecentMatch.matchMode}}</h4>
  </div>
  <div class="col l3 center-align">
    <h4 id="label-blue-team">Blue Team
      <span ng-if="mostRecentMatch.teams[1].winner">( Won )</span>
    </h4>
  </div>
</div>

<div class="row">

  <div class="col s12 m6 l3">
    <div class="row player-stats" ng-repeat="participant in mostRecentMatch.participants | filter: {  teamId: 100 }">
      <div class="col s5 team100 box circle responsive-img portrait player{{participant.participantId}}">
      <!-- ng-style="{'background-image' : 'url( {{ participant.championImage }} )'}" -->
        <img class="picture"src="{{ participant.championImage }}" alt="">

      </div>
      <div class="col s7 player-stat-container">
        <div class="row player-stats" id="player-name">Champion Level: {{ participant.stats.champLevel}}</div>
        <div class="row player-stats" id="player-gold-count">
          <img class="riot-icon" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png">: {{ participant.stats.goldEarned}}
        </div>
        <div class="row player-stats" id="player-kill-count">
          <img class="riot-icon" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" alt="Player kill count">:
          <span class="player-score">{{participant.stats.kills}}
            <span class="stats-tooltip">Kills</span>
          </span> /
          <span class="player-score">{{ participant.stats.deaths}}
            <span class="stats-tooltip">Deaths</span>
          </span> /
          <span class="player-score">{{ participant.stats.assists}}
            <span class="stats-tooltip">Assists</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3 push-l6">
    <div class="row player-stats" ng-repeat="participant in mostRecentMatch.participants | filter: {  teamId: 200 }">
      <div class="col s5 team200 portrait box circle responsive-img player{{participant.participantId}}">
        <img class="picture"src="{{ participant.championImage }}" alt="">
      </div>
      <div class="col s7 player-stat-container">
        <div class="row player-stats" id="player-name">Champion Level: {{ participant.stats.champLevel}}</div>
        <div class="row player-stats" id="player-gold-count">
          <img class="riot-icon" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png">: {{ participant.stats.goldEarned}}
        </div>
        <div class="row player-stats" id="player-kill-count">
          <img class="riot-icon" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" alt="Player kill count">: <span class="player-score">{{participant.stats.kills}}
            <span class="stats-tooltip">Kills</span>
          </span> /
          <span class="player-score">{{ participant.stats.deaths}}
            <span class="stats-tooltip">Deaths</span>
          </span> /
          <span class="player-score">{{ participant.stats.assists}}
            <span class="stats-tooltip">Assists</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m8 offset-m2 l6 pull-l3">
    <map-d my-recent-games = "mostRecentMatch"></map-d>
    <h5 class="axisLabel">GAME TIME (min)</h5>
  </div>

</div>