
<div class="container">
  <div class="row">
    <h1>Statistics Page</h1>
  </div>

  <div class="row">
    <div class="six columns">
        <label for="summonerNameLabel">Summoner name: {{ summoner }}</label>
    </div>
  </div>

  <div class="row">

    <div class="two columns">
      <div ng-repeat="participant in mostRecentMatch.participants | filter: {  teamId: 100 }">
        <div class="box" ng-style="{'background-image' : 'url( {{ participant.championImage }} )'}"></div>
      </div>
    </div>

    <div class="eight columns">
      <map-d></map-d>
      <div id="map-d"></div>
      <div id="brush-d"></div>
      <!-- <div id="image-div" ng-style="{'background-image' : 'url( http://ddragon.leagueoflegends.com/cdn/5.22.3/img/map/map' + {{ mostRecentMatch.mapId }} + '.png  )'}"></div> -->
    </div>

    <div class="two columns">
      <div ng-repeat="participant in mostRecentMatch.participants | filter: {  teamId: 200 }">
        <div class="box" ng-style="{'background-image' : 'url( {{ participant.championImage }} )'}"></div>
      </div>
    </div>

  </div>
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script src="js/mapLocation.js"></script>