<div class="container">

  <form>

    <div class="sixteen columns">

        <div class="four columns offset-by-four">
        <h1 id="signup">Sign-up</h1>

        </div>

        <div class="four columns offset-by-four">
          <label for="emailInput">Email</label>
          <input class="u-full-width" type="email" placeholder="youremail@mailbox.com" id="emailInput">
        </div>

        <div class="four columns offset-by-four">
          <label for="passwordInput">Password</label>
          <input class="u-full-width" type="password" placeholder="password" id="emailInput">
        </div>

        <div class="four columns offset-by-four">
          <label for="passwordInput">Confirm Password</label>
          <input class="u-full-width" type="password" placeholder="password" id="emailInput">
        </div>

        <div class="four columns offset-by-four">
          <span class="label-body">I agree to the <a href="#">Terms and Agreements</a></span>
        </div>

        <div class="four columns offset-by-four">
          <div class="eight columns offset-by-two">
            <input class="button-primary u-full-width" type="submit" value="Submit">
          </div>
        </div>

    </div>

  </form>
</div>