/* line 1, stdin */
.box {
  height: 125px;
  width: 125px;
  border: 1px solid black;
  margin-bottom: 25px;
  background-size: 100%; }

/* line 14, stdin */
#image-div {
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

/* line 22, stdin */
li {
  display: inline; }
